* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color:  #343a40;
}

nav {
    background-color: #f8f9fa;

}

.logo{
    width: 200px;
    height: 200px;
}