body {
    background-color: red;
    color: white;
}

/* Mediaq tabletas*/
@media (min-width: 600px){
    body {
        background-color: green;
    }
}

/* Mediaq desktop*/
@media (min-width: 1024px){
    body {
        background-color: blue;
    }
}